<v-app>
  <v-container>
    <!-- Progress Bar Start -->

    <div>
      <span class="text-h6">Progress</span>
      <ProgressBar
        :progressData="totalProgress.progressPercentage"
        :totalDone="totalProgress.totalDoneString"
        :totalTask="totalProgress.totalTaskString"
      />
    </div>
    <!-- Progress Bar End -->

    <!-- Search And Add Area -->
    <v-sheet class="columnWrapper" elevation="2">
      <v-card class="d-flex justify-end mb-6" flat tile>
          <v-card-actions>
            <v-text-field class="ma-3" v-model="search" label="Search"> </v-text-field>
            <v-btn
            class="ma-2"
            outlined
            color="blue"
            @click.prevent="addTask"
          >
           + Add Task
          </v-btn>
          </v-card-actions>  
      </v-card>
    </v-sheet>

    <!-- Search And Add Area End -->
    <div>
      <AddTaskModal @toggleModal="toggleModal($event)" :showModal="addTaskModal" />
    </div>
    <!-- Dragable List Area -->
    <v-row justify="space-around">
      <v-col cols="12" md="4" v-for="tasks in taskList" :key="tasks.id">
        <v-sheet class="columnWrapper" elevation="2">
          <div class="d-flex justify-center mb-6">
            <span class="text-h6 pt-2 px-1">{{tasks.name}}</span>
            <span class="text-h6 pt-2 px-1"
              >({{tasks.name === 'Pending' ? totalProgress.pendingBarProgress : tasks.name === 'Processing' ?
              totalProgress.processingBarProgress : tasks.name === 'Done' ? totalProgress.doneBarProgress : '' }})</span
            >
            <span class="text-h6 pt-2 px-1"
              >({{tasks.name === 'Pending' ? pendingPercent : tasks.name === 'Processing' ? processingPercent :
              tasks.name === 'Done' ? taskPercent : ''}}%)</span
            >
          </div>
          <v-card class="d-flex justify-center mb-6" v-if="tasks.tasks.length > 1" flat tile>
            <v-btn class="ma-3" @click="sortList(tasks.name)">Sort</v-btn>
          </v-card>
          <draggable
            v-model="tasks.tasks"
            group="taskList"
            @start="drag=true"
            @end="drag=false"
            :emptyInsertThreshold="500"
          >
            <transition-group>
              <div v-for="(element,index) in tasks.tasks" :key="element.id">
                <TaskCard :item="element" :board="tasks.name" :found="handleChange" />
              </div>
            </transition-group>
          </draggable>
          <div v-if="tasks.tasks.length < 1"><NoItemsCard /></div>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</v-app>
