.columnWrapper {
  /* padding: 20; */
  height: auto;
  width: 100%;
  margin: 20px auto;
}

.rowContainer {
  align-items: center;
  justify-content: center;
}

.inputDiv {
  text-align: center;
  padding: 10px 0;
}
